<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Aggregator</title>
</head>
<body>
    <h1>Global News Aggregator</h1>
    <h2>News Sources</h2>
    <ul>
        {% for id, source in sources.items() %}
            <li>
                <a href="{{ url_for('show_articles', source_id=id) }}">
                    {{ source.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('top_headlines') }}">Top headline from each source</a>
</body>
</html>